.button {
    padding: 10px;
    border: 1px solid grey;
    background: rgb(236, 230, 230);
    transition: all .3s linear;
    font-weight: 700;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.button:hover{
    color: #fff;
    background: rgb(184, 172, 172);
    box-shadow: 3px 3px 3px grey;
}
.button:active{
    color: red;
    box-shadow: 3px 3px 3px red;
}